$border-radius: 24px;
$layout-padding: 0 $border-radius;

.custom-layout {
  height: 100%;
  position: relative;
  .custom-layout-content {
    height: 100%;
    overflow-y: auto;
  }
  .custom-layout-footer {
    width: 100%;
    height: unset;
    padding: 0;
    position: fixed;
    bottom: 0;
    background: transparent;
    .ant-tabs {
      width: 100%;
      padding: $layout-padding;
      border-radius: $border-radius $border-radius 0 0;
      background-color: #ffffff;
      .ant-tabs-nav {
        margin: 0;
        .ant-tabs-nav-list {
          flex: 1;
          .ant-tabs-tab {
            flex: 1;
            justify-content: center;
            .ant-tabs-tab-btn div {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
